@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslablight.ttf');
  url:('../fonts/robotoslablight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslabbold.ttf');
  url:('../fonts/robotoslabbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslabregular.ttf');
  url:('../fonts/robotoslabregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslabthin.ttf');
  url:('../fonts/robotoslabthin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


