.b-bottom {
  background-color: #f3f3f3;
  padding: 16px 0;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__creator {
    display: flex;
    align-items: center;
    color: #000;
  }

  &__brandmaker {
    background: {
      image: url("../images/brandmaker.png");
      position: 50% 100%;
      size: cover;
      repeat: no-repeat;
    }
    width: 130px;
    height: 30px;
    margin-right: 8px;
  }
}