.b-button {
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #ffeb10;
  font-size: 16px;
  transition: all 0.5s ease;
  box-sizing: border-box;
  display: inline-block;

  &:hover {
    border: 2px solid #d6c612;
    background-color: transparent;
    color: #ffeb10;
  }

  &:active,
  &:focus {
    border: 2px solid #d6c612;
    background-color: transparent;
    color: #ffeb10;
  }

  &_black {
    color: #000;

    &:hover {
      border: 2px solid #d6c612;
      background-color: transparent;
      color: #000;
    }

    &:active,
    &:focus {
      border: 2px solid #d6c612;
      background-color: transparent;
      color: #000;
    }
  }

  &__big {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 4px;
    background-color: rgb(255, 224, 16);
    width: 229px;
    height: 48px;
    margin: 0 auto;
    border-bottom: 5px solid #e0c405;
    box-sizing: border-box;
    transition: all 0.5s ease;

    &_default {
      color: #e0c405;
    }

    &_black {
      color: #000;
    }


    &:hover {
      border-bottom: 5px solid #e0c405;
      background-color: rgb(255, 224, 16);
      color: #000;
    }

    &:active,
    &:focus {
      border-bottom: 5px solid #e0c405;
      background-color: rgb(255, 224, 16);
      color: #000;
    }
  }
}

