.b-features {
  background-color: #fff;
  padding: 60px 0;

  &__other {
    border-bottom: 4px solid #efe1c4;
    border-left: 4px solid #efe1c4;
    border-right: 4px solid #efe1c4;
  }


  &__heading {

    &_problems {
      margin-top: 120px;
    }

    &_other {
      transform: translateY(-50%);

      &::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 0;
        width: 230px;
        height: 4px;
        background-color: #efe1c4;
      }

      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        right: 0;
        width: 230px;
        height: 4px;
        background-color: #efe1c4;
      }
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px;
  }
}