.b-heading {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;

  @media all and (max-width: 767px) {
    font-size: 32px;
  }

  &_features {
    &::before {
      display: block;
      content: ' ';
      background: {
        image: url("../images/features_heading_icon.svg");
        position: 50% 50%;
        repeat: no-repeat;
        size: contain;
      }
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }

  &_dashboard {
    color: #fff;

    &::before {
      display: block;
      content: ' ';
      background: {
        image: url("../images/dashboard_heading_icon.svg");
        position: 50% 50%;
        repeat: no-repeat;
        size: contain;
      }
      width: 40px;
      height: 40px;
      margin-right: 16px;
      margin-bottom: 55px;
    }
  }

  &_api {
    color: #fff;

    &::before {
      display: block;
      content: ' ';
      background: {
        image: url("../images/api_heading_icon.svg");
        position: 50% 50%;
        repeat: no-repeat;
        size: contain;
      }
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
  }
}