.b-input {
  border: 1px solid rgba(231, 231, 231, 1);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  height: 46px;

  &:active,
  &:focus {
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  }

  &:hover {
    box-shadow: 0 0 0 2px #ffeb10 inset;
  }

  &:hover:not(:focus) {
    box-shadow: 0 0 0 2px #ffeb10 inset;
  }
}



