.b-main {
  position: relative;
  background-color: #f4f4f4;

  &__bg {
    position: absolute;
    top: -15px;
    left: 0;
    background: {
      image: url("../images/main_bg1920.png");
      position: 50% 50%;
      size: cover;
      repeat: no-repeat;
    }
    width: 100%;
    height: 520px;
    z-index: 0;
  }

  &__content {
    position: relative;
    display: flex;
  }

  &__block {
    //width: 642px;
  }
  
  &__heading {
    font-size: 36px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 64px;
  }

  &__price {
    background-color: #281001;
    padding: 5px 12px;
    color: #ffeb10;
  }

  &__manufact {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 200;
  }

  &__middle {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }

  &__feature {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 52px;
    height: 52px;
    margin-right: 24px;

    &_first {
      background: {
        image: url("../images/main_icon1.png");
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }
    }

    &_second {
      background: {
        image: url("../images/main_icon2.png");
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }
    }
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }

  &__pic {
    display: block;
    position: relative;
    top: 55px;
    left: -5px;
    background: {
      image: url("../images/main_pic.png");
      position: 50% 50%;
      size: cover;
      repeat: no-repeat;
    }
    width: 549px;
    height: 757px;
    z-index: 6;
  }
}