.b-reviews {
  position: relative;
  padding: 60px 0;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    background: {
      image: url("../images/reviews_bg1920.png");
      position: 50% 50%;
      size: cover;
      repeat: no-repeat;
    }
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__content {
    position: relative;
  }

  &__row {
    display: flex;
    padding-top: 32px;
  }

  &__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__block {
    position: relative;
    background-color: #fff;
    width: 975px;
    padding: 36px;
    margin-left: 64px;

    &::before {
      content: ' ';
      position: absolute;
      top: 20px;
      left: -23px;
      background: {
        image: url("../images/reviews_tringle.svg");
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }
      width: 24px;
      height: 24px;
      z-index: 2;
    }
  }

  &__heading {
  }

  &__name {
    text-align: center;
  }

  &__bold {
    font-weight: 700;
  }
}