.b-social {
  display: flex;

  &__link {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 8px;
    width: 37px;
    height: 37px;

    &_vk {
      background: {
        image: url("../images/vk.png");
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }

    }
  }

  &__text {
    color: #000;
    text-decoration: underline;
  }
}