.b-timer {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  margin-top: 28px;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.07);
  width: 675px;
  height: 254px;

  &__block {
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  
  &__heading {
    position: relative;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 48px;
    display: block;
    text-align: center;

    &_small {
      top: -20px;
      font-size: 30px;
      font-weight: 200;

      &::after {
        content: ' ';
        position: absolute;
        top: 24px;
        right: -30px;
        background: {
          image: url("../images/main_arrow.png");
          position: 50% 50%;
          repeat: no-repeat;
          size: contain;
        }
        width: 59px;
        height: 77px;
      }
    }
  }

  &__top {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}

