<div class="b-banner">
    <div class="b-banner__bg"></div>
    <div class="b-banner__content">
        <div class="b-wrapper">
            <div class="b-row">
                <div class="b-col b-col_small_2"></div>
                <div class="b-col b-col_small_7">
                    <div class="b-banner__block">
                        <h2 class="b-heading b-banner__heading">Замеры и расчет стоимости бесплатно</h2>
                        <p class="b-banner__text">Специалист по замерам приедет в удобное для Вас время, привезет образцы материалов, Вы сможете на
                            месте подобрать тот цвет который больше всего подходит к Вашему интерьеру.
                            Сделаем замер и на месте расчитаем стоимость.</p>
                    </div>
                </div>
                <div class="b-col b-col_small_3">
                    <div class="b-banner__block">
                        <div class="b-banner__top">Вызвать замерщика</div>
                        <form action="POST" class="b-form">
                            <input type="text" name="name" class="b-input b-form__input" placeholder="Введите ваш телефон">
                            <a href="#" class="b-button__big b-button__big_default">Получить скидку 15%</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>