<div class="b-bottom">
    <div class="b-wrapper">
        <div class="b-bottom__block">
            <a href="#" class="b-bottom__creator">
                <div class="b-bottom__brandmaker"></div>
                <p> - создание и продвижение сайта</p>
            </a>
            <div class="b-social">
                <a href="#" class="b-social__link">
                    <div class="b-social__img b-social__img_vk"></div>
                    <p class="b-social__text">Мебель-PRO 43 в контакте</p>
                </a>
            </div>
        </div>
    </div>
</div>