<div class="b-features">
    <div class="b-wrapper">
        <div class="b-features__why">
            <h2 class="b-heading">Почему более 200 клиентов выбрали именно нас?</h2>
            <div class="b-block-grid b-block-grid_small_1 b-block-grid_medium_2 b-block-grid_large_5">
                {% include "block/features/_why.html" %}
            </div>
        </div>
        <div class="b-features__other">
            <h2 class="b-heading b-features__heading_other">Помимо шкафов мы также производим</h2>
            <div class="b-features__block">
                {% include "block/features/_other.html" %}
            </div>
        </div>
        <div class="b-features__problems">
            <h2 class="b-heading b-features__heading_problems">80% клиентов сталкиваются с проблемами:</h2>
            {% include "block/features/_problems.html" %}
        </div>
    </div>
</div>