<div class="b-filter">
    <div class="b-filter__row b-filter__row_one">
        <div class="b-filter__filter">
            <p class="b-filter__title">Применение:</p>
            <ul class="b-filter__list">
                <li class="b-filter__item"><a href="#" class="b-filter__link">в гостиную</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">в спальню</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">в прихожую</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">в детскую</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">шкафы-кровати</a></li>
            </ul>
        </div>
        <div class="b-filter__filter">
            <p class="b-filter__title b-filter__title_second">Цвет:</p>
            <ul class="b-filter__list">
                <li class="b-filter__item"><a href="#" class="b-filter__link">тёмный</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">светлый</a></li>
            </ul>
        </div>
    </div>
    <div class="b-filter__row b-filter__row_two">
        <div class="b-filter__filter">
            <p class="b-filter__title">Количество дверей:</p>
            <ul class="b-filter__list">
                <li class="b-filter__item"><a href="#" class="b-filter__link">2 двери</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">3 двери</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">4 двери</a></li>
            </ul>
        </div>
        <div class="b-filter__filter">
            <p class="b-filter__title b-filter__title_second">Оформление:</p>
            <ul class="b-filter__list">
                <li class="b-filter__item"><a href="#" class="b-filter__link">с зеркалом</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">с плёнкой</a></li>
                <li class="b-filter__item"><a href="#" class="b-filter__link">с гравировкой</a></li>
            </ul>
        </div>
    </div>
</div>