<div class="b-footer">
    <div class="b-wrapper">
        <div class="b-footer__top">
            <div class="b-footer__block">
                <a href="#" class="b-logo b-logo__footer">
                    Мебель-
                    <span class="b-logo__pro b-logo__pro_black">PRO43</span>
                </a>
                <span>/</span>
                <p class="b-footer__text">От производителя в Кирове</p>
            </div>
            <div class="b-footer__block">
                <a class="b-header__telephone b-header__telephone_black" href="tel:+78332264705">
                    +7(8332) <span class="b-footer_black">26-47-05</span>
                </a>
                <a class="b-button b-button_black" href="#">Заказать звонок</a>
            </div>
        </div>
    </div>
</div>
