<div class="b-header">
    <div class="b-wrapper">
        <div class="b-header__content">
            <div class="b-header__block">
                <a href="#" class="b-logo">
                    Мебель-
                    <span class="b-logo__pro b-logo__pro_yellow">PRO43</span>
                </a>
                <p class="b-header__text">От производителя в Кирове</p>
            </div>
            <div class="b-header__block">
                <a class="b-header__telephone b-header__telephone_white" href="tel:+78332264705">
                    +7(8332) <span class="b-header_yellow">26-47-05</span>
                </a>
                <a class="b-button" href="#">Заказать звонок</a>
            </div>
        </div>
    </div>
</div>