<div class="b-main">
    <div class="b-wrapper">
       {% include "block/_header.html"%}

        <div class="b-main__content">
            <div class="b-main__left">
                <h1 class="b-main__heading">The easiest way to accept cryptocurrency payments</h1>
                <div class="b-main__text">Start accepting Bitcoin, Litecoin, Ethereum and many more cryptocurrencies within native integration into your project.</div>
                <a href="#" class="b-button b-main__button">Start now</a>

            </div>
            <div class="b-main__right">
                <img src="images/main_pic.svg" class="b-main__pic b-main__pic_desc" alt="">
            </div>
        </div>
    </div>
    <img src="images/main_pic.svg" class="b-main__pic b-main__pic_mobile" alt="">
    <a href="#" class="b-button b-button__circle-down"></a>
</div>