<div class="b-main">
    <div class="b-main__bg"></div>
    <div class="b-wrapper">
        <div class="b-main__content">
            <div class="b-main__block">
                <h1 class="b-main__heading">
                    Шкафы-купе на заказ от <span class="b-main__price">9000 руб</span>
                    <span class="b-main__manufact">от производителя в Кирове</span>
                </h1>
                <div class="b-main__middle">
                    {% for item in main %}
                        <div class="b-main__feature">
                            <div class="b-main__icon b-main__icon_{{ item.icon }}"></div>
                            <p class="b-main__text">{{ item.text }}</p>
                        </div>
                    {% endfor %}
                </div>

               {% include "block/_timer.html" %}
            </div>

            <div class="b-main__block">
                <img src="#" class="b-main__pic" alt="">
            </div>
        </div>
    </div>
</div>