<div class="b-map">
    <div class="b-wrapper">
        <div class="b-map__block">
            <h3 class="b-heading b-map__heading">Контакты</h3>
            <div class="b-map__text">Киров, Октябрьский пр-т д. 24</div>
            <div class="b-map__tel">
                тел.:<a href="tel:+78332264705" class="b-map__link"> +7(8332) 26-47-05</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A81fdc232c7b3bee5c8a2afc67f4444c0b9df7ebd7b6faa9078486524fb70c0fa&amp;width=100%&amp;height=480&amp;lang=ru_RU&amp;scroll=false"></script>
</div>