<div class="b-menu-mobile">
    <div class="b-menu-mobile__button-block">
        <a href="#" class="b-menu-mobile__button">
            <span class="b-menu-mobile__line"></span>
        </a>
    </div>

    <div class="b-menu-mobile__bg"></div>
    <div class="b-menu-mobile__menu">
        {% for item in menu %}
            <a href="{{ item.link }}" class="b-menu-mobile__link" >{{ item.name }}</a>
        {% endfor %}
        <a href="#" class="b-menu-mobile__link b-menu-mobile__link_sign">Sign in</a>
    </div>
</div>
