<div class="b-question">
    <div class="b-question__bg"></div>
    <div class="b-question__content">
        <div class="b-wrapper">
            <div class="b-row">
                <div class="b-col b-col_small_3">
                    <div class="b-question__img">
                        <img src="images/man.png" class="b-question__image" alt="">
                    </div>
                </div>
                <div class="b-col b-col_small_9">
                    <h2 class="b-heading b-question__heading">Остались вопросы? <span class="b-question__light">Задайте их нашему специалисту!</span></h2>
                    <form action="POST" class="b-form b-question__form">
                        <input type="text" name="name" class="b-input b-form__input b-question__input" placeholder="Введите телефон">
                        <textarea name="message" class="b-question__area" rows="10" placeholder="Ваш вопрос"></textarea>
                        <a href="#" class="b-button__big b-button__big_default b-question__button">Задать вопрос</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>