<div class="b-reviews">
    <div class="b-reviews__bg"></div>
    <div class="b-wrapper">
        <h2 class="b-heading b-reviews__heading">Отзывы наших клиентов</h2>
        <div class="b-reviews__content">
            <div class="b-reviews__row">
                <div class="b-reviews__left">
                    <div class="b-reviews__img">
                        <img src="images/reviews/1.png" class="b-reviews__image" alt="">
                    </div>
                    <div class="b-reviews__name">Антон</div>
                </div>
                <div class="b-reviews__block">
                    <div class="b-reviews__text">Делали ремонт в новой квартире и решили установить шкаф-купе в нишу в
                        прихожей. Хотелось <span class="b-reviews__bold">сделать шкаф «под себя»</span>, чтобы было удобно пользоваться. Заказали шкаф в
                        компании Мебель-ПРО43 и очень довольны. Порадовала <span class="b-reviews__bold">оперативность работы и низкая цена.</span> Отдельная
                        благодарность замерщику Ивану, который терпеливо измерял наши не самые ровные стены и в итоге
                        шкаф встал идеально, мы очень довольны :)
                    </div>
                </div>
            </div>
            <div class="b-reviews__row">
                <div class="b-reviews__left">
                    <div class="b-reviews__img">
                        <img src="images/reviews/2.png" class="b-reviews__image" alt="">
                    </div>
                    <div class="b-reviews__name">Евгения</div>
                </div>

                <div class="b-reviews__block">
                    <div class="b-reviews__text">Заказываем в этой компании уже второй шкаф-купе. Первый шкаф заказывали
                        в спальню, теперь дошла очередь до прихожей. Шкафом пользуемся с удовольствием, понравился
                        дизайн дверей, который порекомендовал дизайнер – шкаф стал украшением комнаты. Также могу
                        сказать, что <span class="b-reviews__bold">качество сборки на высоте – видно, что мастера квалифицированные</span>, собирали шкаф
                        скрупулёзно, надеюсь, прослужит долго.
                    </div>
                </div>
            </div>
            <div class="b-reviews__row">
                <div class="b-reviews__left">
                    <div class="b-reviews__img">
                        <img src="images/reviews/3.png" class="b-reviews__image" alt="">
                    </div>
                    <div class="b-reviews__name">Галина</div>
                </div>

                <div class="b-reviews__block">
                    <div class="b-reviews__text">Долго выбирали, где заказать шкаф, в итоге обратились в Мебель-ПРО43.
                        Выбирала по соотношению цена/качество. Очень понравилось <span class="b-reviews__bold">большое количество материалов</span> дверей,
                        не сразу смогли определиться, что выбрать. Шкаф сделали быстро – <span class="b-reviews__bold">меньше двух недель.</span> Результатом
                        довольны, буду рекомендовать друзьям
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>