<div class="b-scheme">
    <div class="b-wrapper">
        <h2 class="b-heading">Как мы работаем</h2>
        <div class="b-scheme__content">
            <div class="b-scheme__cart">
                <div class="b-scheme__img b-scheme__img_right">
                    <img src="images/scheme/1.png" class="b-scheme__image" alt="">
                    <div class="b-scheme__arrow"></div>
                    <div class="b-scheme__line"></div>
                </div>
                <div class="b-scheme__text">Вы отправляете заявку</div>
                <a href="#" class="b-button__big b-scheme__button">Отправить заявку</a>
            </div>
            <div class="b-scheme__cart">
                <div class="b-scheme__img b-scheme__img_right">
                    <img src="images/scheme/2.png" class="b-scheme__image" alt="">
                    <div class="b-scheme__arrow"></div>
                    <div class="b-scheme__line"></div>
                </div>
                <div class="b-scheme__text">Мы делаем бесплатный замер и расчет</div>
            </div>
            <div class="b-scheme__cart">
                <div class="b-scheme__img b-scheme__img_right">
                    <img src="images/scheme/3.png" class="b-scheme__image" alt="">
                    <div class="b-scheme__arrow"></div>
                    <div class="b-scheme__line"></div>
                </div>
                <div class="b-scheme__text">Производим и устанавливаем шкаф</div>
            </div>
            <div class="b-scheme__cart">
                <div class="b-scheme__img b-scheme__img_full">
                    <img src="images/scheme/4.png" class="b-scheme__image " alt="">
                </div>
                <div class="b-scheme__text">Вы пользуетесь шкафом и рекомендуете нас друзьям</div>
            </div>
        </div>
    </div>
</div>