<div class="b-timer">
    <div class="b-timer__block">
        <div class="b-timer__heading">Скидка 15%</div>
        <div class="b-timer__heading b-timer__heading_small">для новоселов</div>
        <div class="b-timer__timer">
            <script src="http://megatimer.ru/s/269136e01b458adb956ae468d91d5bc5.js"></script>
        </div>
    </div>
    <div class="b-timer__block">
        <h3 class="b-timer__top">Оставьте заявку на расчет и получите сразу скидку 15%</h3>
        <form action="POST" class="b-form">
            <input type="text" name="name" class="b-input b-form__input" placeholder="Введите ваш телефон">
            <a href="#" class="b-button__big b-button__big_default">Получить скидку 15%</a>
        </form>
    </div>
</div>